.App {
  text-align: center;
  background-color: #3f053f; /* 보라색 배경 */
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

canvas {
  border: 1px solid #fff; /* 캔버스에 흰색 테두리 */
}
